<div class="form-content">
    <form #myForm="ngForm" *ngIf="!submitted" novalidate>
      <div class="form-head">
        <div class="form-head-text">{{title}}</div>
        <a ><img class="form-head-image" src="../../assets/images/sign-out.jpg"
            alt="logo" (click)="signOut()"></a>
      </div>
      <div class="form-constrains">
        <div class="row-content">
          <label for="bookID" class="label text">Book ID</label>
          <br>
          <input type="text" class="input" pattern="^[0-9]{1,}$" id="bookID" #bookID="ngModel" name="bookID" placeholder="Enter Book Id.." autocomplete="off" required [(ngModel)]="order.bookID">
          <span class="error" *ngIf="bookID.errors?.['pattern']"><h6>Book Id is Invalid and should have digits only</h6></span> 
          <span class="error" *ngIf="bookID.errors?.['required'] && bookID.touched"><h6> Book ID is Required</h6></span>
        </div>
        <div class="row-content">
          <label for="userID" class="label text">User ID</label>
          <br>
          <input type="text" class="input" pattern="^[0-9]{1,}$" id="userID" #userID="ngModel" name="userID" placeholder="Enter User Id.." autocomplete="off" required [(ngModel)]="order.userID">
          <span class="error" *ngIf="userID.errors?.['pattern']"><h6>User Id is Invalid and should be digits only</h6></span> 
          <span class="error" *ngIf="userID.errors?.['required'] && userID.touched"><h6>User Id is Required</h6></span>
        </div>
        <div class="row-content">
          <label for="quanity" class="label text">Quanity</label>
          <br>
          <input type="text" class="input" id="quanity" pattern="^[0-9]{1,}$" #quantity="ngModel" name="quanity" placeholder="Enter Book Quantity..." autocomplete="off" required [(ngModel)]="order.quantity">
          <span class="error" *ngIf="quantity.errors?.['pattern']"><h6>Quanity is Invalid and should have digits only </h6></span> 
          <span class="error" *ngIf="quantity.errors?.['required'] && quantity.touched"><h6>Quantity is Required</h6></span>
        </div>
        <div class="row-content">
            <label for="address" class="label text">Address</label>
            <br>
            <textarea name="address" id="address" placeholder="Your address.." autocomplete="off" [(ngModel)]="order.address"></textarea>
            <span class="error"></span>
        </div>
        <div class="row-content">
            <label class="label text" for="profile">Order Status</label>
            <div class="profile-radio-content">
                <label>
                    <!--Used two way binding using ngModel...to bind input and stores the required order value in a variable-->
                    <input type="radio" id="book1" name="book1" #status="ngModel"
                        value=true required [(ngModel)]="order.cancel">
                    <span>Place order</span>
                    </label>
                <label>
                    <input type="radio" id="profile2" name="book2" #status="ngModel"
                        value=false required [(ngModel)]="order.cancel">
                    <span>Cancel Order</span>
                </label>
                <span class="text-error" for="text" *ngIf="status.invalid && (status.touched || status.dirty)">Please select order status</span>
                <span class="text-error" for="text" *ngIf="status.errors?.['required'] && status.touched">Order status is required</span>
            </div>
        </div>
        <div class="buttons-contact">
          <button type="button" class="button button-cancel" id="cancelButton" (click)="onDashboard()">Cancel</button> 
          <button type="button" class="button button-submit" id="submitButton" [disabled]="!myForm.valid " (click)="placeOrder()">Add</button>
          <button type="reset" class="button button-reset" id="resetButton" >Reset</button>
        </div>
      </div>
    </form>
    <div class="" *ngIf="submitted">
      <h2 style="text-align: center;">Submitted Successfully</h2>
      <h2>Click on dashboard button to go back to dashboard</h2>
    </div>
  </div>