<!-- <div class="form-content">
    <form #myForm="ngForm" novalidate>
      <div class="form-head">
        <div class="form-head-text">{{title}}</div>
        <a ><img class="form-head-image" src="../../assets/images/sign-out.jpg"
            alt="logo" (click)="signOut()"></a>
      </div>
      <div class="form-constrains">
        <div class="row-content">
          <label for="bookID" class="label text">Book ID</label>
          <br>
          <input type="text" class="input" pattern="^[0-9]{1,}$" id="bookID" #bookID="ngModel" name="bookID" placeholder="Enter Book Id.." autocomplete="off" required [(ngModel)]="cart.bookID">
          <span class="error" *ngIf="bookID.errors?.['pattern']"><h6>Book Id is Invalid and should have digits only</h6></span> 
          <span class="error" *ngIf="bookID.errors?.['required'] && bookID.touched"><h6> Book ID is Required</h6></span>
        </div>
        <div class="row-content">
          <label for="userID" class="label text">User ID</label>
          <br>
          <input type="text" class="input" pattern="^[0-9]{1,}$" id="userID" #userID="ngModel" name="userID" placeholder="Enter User Id.." autocomplete="off" required [(ngModel)]="cart.userID">
          <span class="error" *ngIf="userID.errors?.['pattern']"><h6>User Id is Invalid and should be digits only</h6></span> 
          <span class="error" *ngIf="userID.errors?.['required'] && userID.touched"><h6>User Id is Required</h6></span>
        </div>
        <div class="row-content">
          <label for="quanity" class="label text">Quanity</label>
          <br>
          <input type="text" class="input" id="quanity" pattern="^[0-9]{1,}$" #quantity="ngModel" name="quanity" placeholder="Enter Book Quantity..." autocomplete="off" required [(ngModel)]="cart.quantity">
          <span class="error" *ngIf="quantity.errors?.['pattern']"><h6>Quanity is Invalid and should have digits only </h6></span> 
          <span class="error" *ngIf="quantity.errors?.['required'] && quantity.touched"><h6>Quantity is Required</h6></span>
        </div>
        <div class="buttons-contact">
          <button type="button" class="button button-cancel" id="cancelButton" (click)="onDashboard()">Cancel</button> 
          <button type="button" class="button button-submit" id="submitButton" [disabled]="!myForm.valid " (click)="addCart()">Add</button>
          <button type="reset" class="button button-reset" id="resetButton" >Reset</button>
        </div>
      </div>
    </form>
    <div class="" *ngIf="submitted">
      <h2 style="text-align: center;">Submitted Successfully</h2>
      <h2>Click on dashboard button to go back to dashboard</h2>
    </div>
  </div> -->
  <div class="container">
    <div class="card mb-3">
      <h5 class="cart-heading">My cart({{cart.data.length}})</h5>
      <div class="row g-0" *ngFor="let crt of cart.data">
        <div class="col-md-4" >
          <img [src]="crt.book.bookImg" class="img-fluid rounded-start" alt="Loading...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{crt.book.bookName}}</h5>
            <p class="card-text">by {{crt.book.authorName}}</p>
            <p class="card-text">RS.{{crt.book.price}}</p>
            <div class="quantity-change">
              <button type="button" class="btn  quantity-button" (click)="decreaseQuantity(this.crt.cartID)" *ngIf="crt.quantity==2">-</button>
              <input type="text" name="quantity" class="book-quantity" [(ngModel)]="crt.quantity">
              <button type="button" class="btn  quantity-button" (click)="increaseQuantity(this.crt.cartID)">+</button>
              <a class="remove" (click)="deleteCart(crt.cartID)">Remove</a>
            </div>
            <!-- <div class="place-order">
              <button type="button" class="btn placeorder-button" (click)="placeOrder(crt)">Place Order</button>
            </div> -->
          </div>
          
        </div>
        
      </div>
      <div class="place-order" >
        <button type="button" class="btn placeorder-button" (click)="placeOrder()">Place Order</button>
      </div>  
    </div>
    <router-outlet></router-outlet>
    <!-- <div class="customer" *ngIf="this.customerDetails==true">
          <h5>Customer Details</h5>
        <div class="form-constrains">
          <div class="row-content">
            <label for="firstName" class="label text">First Name</label>
            <br>
            <input type="text" class="input" id="firstName" name="firstName" [(ngModel)]="user.data.firstName">
          </div>
          <div class="row-content">
            <label for="lastName" class="label text">Last Name</label>
            <br>
            <input type="text" class="input" id="lastName" name="lastName" [(ngModel)]="user.data.lastName">
          </div>
          <div class="row-content">
            <label for="address" class="label text">Address</label>
            <br>
            <input type="text" class="input" id="address" name="address" [(ngModel)]="user.data.address">
          </div>
          <div class="row-content">
            <label for="email" class="label text">Email</label>
            <br>
            <input type="text" class="input" id="email" name="email" [(ngModel)]="user.data.email">
          </div>
          <button type="button" class="continue" (click)="custDetails()">Continue</button>
      </div>
    </div>
    <div class="card mb-3" *ngIf="orderSummary==true">
      <div class="row g-0" *ngFor="let crt of cart.data">
        <div class="col-md-4" >
          <img [src]="crt.book.bookImg" class="img-fluid rounded-start" alt="Loading...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{crt.book.bookName}}</h5>
            <p class="card-text">by {{crt.book.authorName}}</p>
            <p class="card-text">RS.{{crt.book.price * crt.quantity}}</p>
              <button type="button" class="checkout" (click)="orderDetails()">Checkout</button>
          </div>
        </div>
      </div>  
    </div> -->
</div>
   
