
  <div class="container">
    <div class="card mb-3">
      <h5 class="cart-heading">My cart({{cart.data.length}})</h5>
      <div class="row g-0" *ngFor="let crt of cart.data">
        <div class="col-md-4" >
          <img [src]="crt.book.bookImg" class="img-fluid rounded-start" alt="Loading...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{crt.book.bookName}}</h5>
            <p class="card-text">by {{crt.book.authorName}}</p>
            <p class="card-text">RS.{{crt.book.price}}</p>
            <div class="quantity-change">
              <button type="button" class="btn  quantity-button" (click)="decreaseQuantity(this.crt.cartID)" *ngIf="crt.quantity==2">-</button>
              <input type="text" name="quantity" class="book-quantity" [(ngModel)]="crt.quantity">
              <button type="button" class="btn  quantity-button" (click)="increaseQuantity(this.crt.cartID)">+</button>
              <a class="remove" (click)="deleteCart(crt.cartID)">Remove</a>
            </div>
            <!-- <div class="place-order">
              <button type="button" class="btn placeorder-button" (click)="placeOrder(crt)">Place Order</button>
            </div> -->
          </div>
          
        </div>
        
      </div>
      <div class="place-order" >
        <button type="button" class="btn placeorder-button" (click)="placeOrder()">Place Order</button>
      </div>  
    </div>
    <router-outlet></router-outlet>
    
