<div class="main-content">
    <img src="../../assets/images/book_store.jpg" class="card-img-left image" alt="Image is Loading...">
    <div class="cards">
        <div class="card-body">
          <h4 class="card-title">{{title}}</h4>
          <p class="card-text">A book store is an application that stores the information (user, book, cart, order etc.) of people that you save in it. You can also edit and delete the contact.</p>
          <p class="card-text">Sometimes we are in need of book store which can be accessed from anywhere like during our travelling sections. It’s the online book store which facilitates you to search any saved records using web from any location. It’s not only saving records, among this, you can also view your orders with other by granting appropriate permissions. There a lots of other features has been added for online book store.</p>
          <button routerLink="/dashboard" class="btn btn-primary">Back</button>
          <button routerLink="developerdetails" class="btn btn-primary detailsButton">Developer Details</button>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>