
<div class="container">
    <div class="sort-ways">
        <div class="item-name">
            <h5>Books</h5>
        </div>
    <div class="no-books">
        <h4 class="no-of-books">({{books.data.length}})</h4>
    </div>  
    <input type="text" class="search" placeholder="  search products..." name="search" [(ngModel)]="search" >
        <div class="sort-book" >
        <select class="sortby">
            <option value="Relevance">Sort By Relevence</option>
            <option value="Ascending">Price:Low to High</option>
            <option value="Descending" >Price:High to Low</option>
        </select>
    </div>
    <p class="cart-name">cart</p>
        <img src="../../assets/icons/cart.svg" alt="cart image is loading..." class="cart-image" (click)="goToCart()">
        <p class="cart-items">{{carts.data.length}}</p>

    </div>
    <div class="book-container">
        <div class="card card-container" *ngFor="let book of books.data">
            <div class="book-image">
                <img [src]="book.bookImg" class="card-img-top" alt="Book Image is loading...">
            </div>
            <div class="card-body">
            <h5 class="card-title">{{book.bookName}}</h5>
            <p class="card-text">by {{book.authorName}}</p>
            <p class="card-text">RS.{{book.price}}</p>
            <div class="button-container">
            <button type="button" class="button" (click)="addToCart(book.bookID)">Add to Bag</button>
            <button type="button" class="button wishlist">Wishlist</button>
            </div>
            </div>
        </div>
    </div>
</div>